@charset "utf-8";
/* CSS Document */

:root{
    --azul:#E50914;
    --azul-marinho:#141414;*/
}

*{    
    box-sizing: border-box;
}

/*elementos base*/

body{
   background: image(rgba(0,0,0,.3));
   font-family: "Raleway",Helvetica,Arial,sans-serif;
}

.secao{
	background: linear-gradient(0,100,50);
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin: 20px;
}

.logo{
	background-image: url("../images/Logo_SR_deitado.svg");
	background-repeat: no-repeat;
}

.chamada_carrosel{
	font-size: 60px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

footer{
	background-color: black;
	height: 3.6em;
	text-align: center;
	color: white;
}

/* Menu de navegação */
/*.nav-menu a {
    text-transform: uppercase;
    text-decoration: none;
    zoom: 1;
    letter-spacing: 1px;
}

.nav-menu a {
    display: block;
    position: relative;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}*/